# Prevent prettier to format the .htaccess file and brock the rewrite rules
.htaccess

# Prevent prettier to format codeigniter system files
system/*
writable/*
app/Config/*

# Prevent prettier to format package.json and composer.json
package-lock.json
package.json
composer.json