# Prevent prettier to format the .htaccess file and brock the rewrite rules
.htaccess

# Prevent prettier to format codeigniter system files
system/*

# Prevent prettier to format the tailwindcss generated styles
public/css/style.css

# Prevent prettier to format the writable folder of codeigniter
writable/*