@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joygist";
  src: url("../fonts/Joygist.otf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf");
}

body {
  @apply bg-background;
  @apply overflow-x-hidden;
}

main {
  min-height: 100vh;
  @apply w-full;
  @apply pt-24;
  @apply lg:pt-36;
}
