@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Joygist";
  src: url("/squireal/fonts/Joygist.otf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/squireal/fonts/Raleway.ttf");
  font-display: swap;
}

body {
  @apply bg-background;
  @apply overflow-x-hidden;
}

main {
  min-height: 100vh;
  @apply w-full;
}

main:not(.no-padding) {
  @apply pt-24;
  @apply lg:pt-36;
}

.mapboxgl-ctrl-geocoder {
  @apply w-full rounded-2xl !important;
}

input[type="radio"]:checked ~ label {
  @apply bg-maindarkgreen;
}

.mapboxgl-popup-content {
  @apply rounded-xl bg-background !important;
}

.mapboxgl-popup-close-button {
  @apply px-4 py-2 text-xl !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply border-r-background !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply border-t-background !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply border-l-background !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply border-r-background !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  @apply border-l-background !important;
}

.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  @apply hidden !important;
}
